/* hero section */


.background {
  background: linear-gradient(360deg, #D7B377, #2B4162);
  background-size: 200% 200%;
  width: 96vw;
  height: 95vh;
  border-radius: 30px;
  margin: 1rem auto auto;
  animation: AnimationName 5s ease infinite;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
}

.background-column:nth-child(1) {
  height: 100%;
  width: 100%;
  order: 2;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-items: center;

}

.background-column:nth-child(2) {
  height: 100%;
  width: 100%;
  order: 3;

  padding: 2rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
}

.background-column:nth-child(3) {
  height: 100%;
  width: 100%;
  order: 1;

  padding: 2rem;
  flex-wrap: wrap;
  display: flex;

}

@keyframes AnimationName {
  0% {
    background-position: 0 70%;
  }

  50% {
    background-position: 100% 31%;
  }

  100% {
    background-position: 0 70%;
  }
}

.weather-container {
  height: 100%;
  width: 100%;
  order: 1;
  padding: 4rem;
  flex-wrap: wrap;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  color: white;
  column-gap: 15px;
  animation: fade-in-bottom 1s cubic-bezier(.39, .575, .565, 1.000)both;
}

.weather-container .icon {
  top: 11px;
  position: relative;
}

.lastupdated {
  display: flex;
  flex-direction: row-reverse;
  color: white;
  padding: 4rem;
  align-items: flex-end;
  animation: fade-in-bottom 1s cubic-bezier(.39, .575, .565, 1.000)both;
  justify-content: flex-start;
  flex-wrap: nowrap;
}




@keyframes fade-in-bottom {
  0% {
    transform: translateY(30px);
    opacity: 0
  }

  100% {
    transform: translateY(0);
    opacity: 1
  }
}

@media (max-width: 920px) {
  .background {
    margin: 0;
    flex-direction: column;
    width: 98vw;
    max-width: 100%;
    justify-content: center;

  }

  .background-column:nth-child(1) {

    height: 100%;
    top: 0;
    justify-content: center;
  }

  .background-column:nth-child(2) {


    justify-content: center;

  }

  .background-column:nth-child(3) {


    padding: 0;
    justify-content: center;
  }

  .lastupdated {
    position: relative;
    padding: 0;
    align-items: flex-end;
    justify-content: center;
  }

  .weather-container {
    position: relative;
    padding: 2rem;
    align-items: flex-end;
    justify-content: center;

  }
}